---
import MeldekortEtterregistrering from "@src/components/MeldekortEtterregistrering";
import MeldekortPending from "@src/components/MeldekortPending";
import MeldekortReady from "@src/components/MeldekortReady";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import { logger } from "@src/utils/logger";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";
import { hentMeldekortstatus, prosesserMeldekortDataFraApi } from "@src/utils/meldekortData.ts";
import {
  MELDEKORT_API_AUDIENCE,
  MELDEKORT_API_URL,
  MELDEKORTREGISTER_AUDIENCE,
  MELDEKORTREGISTER_URL
} from "astro:env/server";
import type { MeldekortStatus } from "@src/types/MeldekortType.ts";

let meldekortStatusFraArena: MeldekortStatus;
let meldekortStatusFraDp: MeldekortStatus;

try {
  meldekortStatusFraArena = await hentMeldekortstatus(Astro.locals.token, MELDEKORT_API_AUDIENCE || "", MELDEKORT_API_URL || "");
  meldekortStatusFraDp = await hentMeldekortstatus(Astro.locals.token, MELDEKORTREGISTER_AUDIENCE || "", MELDEKORTREGISTER_URL || "");
} catch (error) {
  logger.error("Error fetching meldekortdata: " + error);
  return new Response("Internal Server Error", { status: 503 });
}

const arenaData = prosesserMeldekortDataFraApi(meldekortStatusFraArena);
const dpData = prosesserMeldekortDataFraApi(meldekortStatusFraDp);
const language = Astro.currentLocale as Language;
---

{isLocal &&
<meta charset="UTF-8"/>}
<div class="meldekort-mikrofrontend">
  <div class={styles.microfrontend}>
    <MeldekortEtterregistrering language={language} meldekortData={arenaData} dagpenger={false}/>
    {arenaData.isPendingForInnsending ? <MeldekortPending language={language} meldekortData={arenaData} dagpenger={false}/> : null}
    {arenaData.isReadyForInnsending ? <MeldekortReady language={language} meldekortData={arenaData} dagpenger={false}/> : null}
    <MeldekortEtterregistrering language={language} meldekortData={dpData} dagpenger={true}/>
    {dpData.isPendingForInnsending ? <MeldekortPending language={language} meldekortData={dpData} dagpenger={true}/> : null}
    {dpData.isReadyForInnsending ? <MeldekortReady language={language} meldekortData={dpData} dagpenger={true}/> : null}
  </div>
</div>
